.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.galeria section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gris-plata);
    border-radius: 5px;
    overflow: hidden;
    height: auto;
}

.galeria img {
    width: 100%;
    height: 500px;
    object-fit:contain;
}

.texto-seccion {
    border-top: 2px solid var(--gris-plata);
    padding: 10px;
    background-color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galeria h2, .galeria p {
    margin: 0;
    text-align: center;
}

.galeria h2 {
    min-height: 3em;
}

.galeria p {
    min-height: 5em;
}

@media (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1023px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .galeria img {
        height: auto;
    }

    .galeria h2, .galeria p {
        padding: 5px;
    }
}
