#slider-container {
    position: relative;
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.1);
}

#slider {
    overflow: hidden;
    width: calc(100% - 120px);
    flex-grow: 1;
}

#slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

#slider-wrapper section {
    min-width: 100%;
    display: flex;
    margin: 0 0;
    max-width: 800px;
}

.slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide-text,
.slide-image {
    flex-basis: 40%;
}

.slide-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


button {
    background-color: var(--azul-cielo-suave);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 24px;
    z-index: 10;
}

#slide-left {
    margin-right: -60px;
}

#slide-right {
    margin-left: -60px;
}

h2, h3{
    text-align: center;
}

p, h3{
    width: 80%;
    text-align: justify;
    margin: 0 auto;
    padding: 15px 0;
}

@media (max-width: 768px) {
    #slider-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #slider {
        width: calc(100% - 100px);
    }

    .slide-content {
        flex-direction: column;
    }

    .slide-image img {
        width: 100%;
    }

    button {
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    #slider {
        width: calc(100% - 60px);
    }

    button {
        font-size: 16px;
        padding: 5px 10px;
    }
}

