:root {
    --gris-plata: #C0C0C0;
    --azul-cielo-suave: #87CEEB;
  }

#slogan{
    text-align: center;
    color: var(--gris-plata);
    font-size: 20px;
}

img{
  width: 150px;
  margin: 40px;
}

#about{
  text-align: center
}

#about-us{
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

p {
  text-align: justify;
  margin-top: 20px; /* Aumenta el margen superior */
  margin-bottom: 20px; /* Aumenta el margen inferior */
  padding: 10px; /* Añade relleno alrededor del texto dentro del párrafo */
  line-height: 1.6; /* Aumenta el espaciado entre líneas de texto */
  word-wrap: break-word; /* Asegura que las palabras largas no desborden el contenedor */
}

@media (max-width: 768px) {
  #about-us {
    width: 90%; /* Hace que el contenedor sea un poco más ancho en pantallas pequeñas */
  }

  img {
    width: 100px; /* Hace la imagen más pequeña para que encaje mejor */
    margin: 20px auto; /* Centra la imagen y reduce el margen */
  }

  p, #slogan {
    font-size: 18px; /* Ajusta el tamaño del texto para que sea legible */
  }
}

@media (max-width: 480px) {
  #about-us {
    width: 95%; /* Permite que el texto ocupe más espacio */
  }

  p, #slogan {
    font-size: 16px; /* Reduce aún más el tamaño del texto para pequeñas pantallas */
  }
}
